* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    /* padding: 20px; */
    border-radius: 16px;
    background-color: white;
    /* gap: 20px; */
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.container .titulo-formulario,
 .container .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    height: 600px;
    /* align-items: center; */
}

.container .titulo-formulario {
    padding-left: 20px;
    background-color: rgb(84, 173, 255);
    border-radius: 14px;
    gap: 40px;
    font-size: 26px;
}

.container .titulo-formulario p {
    font-size: 24px;
    width: 50%;
}
.container .formulario img {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80px;
}
.container .formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    gap: 6px;
}
.formulario form h2 {
    display: none;
}
.cpf, .nome, .telefone, .email {
    display: flex;
    flex-direction: column;
    
    & input {
        padding: 6px;
        padding-left: 8px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
    }
    
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 40px;
}

form input[type="text"]:focus, 
form input[type="email"]:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.2s ease-in-out; 
}

input[type=submit],[type=reset], input[type=button]{
    margin-top: 18px;
    width: 120px;
    padding: 8px;
    background-color: rgb(83, 163, 255);
    border: none;
    border-radius: 6px;
    font-size: 18px;
}

input[type=submit]:hover, 
input[type=reset]:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.2s ease-in-out; 
}

main#infoFuncionario .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    width: 700px;
}

main#infoFuncionario .paginas {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50%;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.opcoesPaginas {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.opcoesPaginas a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;
    
}

.cadListar {
    display: flex;
    margin: 0 auto; 
    text-decoration: none;
}

.opcoesPaginas .primeira::before {
    content: "<< ";
}
.opcoesPaginas .ultima::after {
    content: " >>";
}

@media screen and (max-width: 980px) {
    .container .titulo-formulario {
        display: none;
    }

    .formulario form {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    .formulario form h2 {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    .container .formulario {
        max-width: 300px;
        height: fit-content;

    }
    .botoes {
        display: grid;
        gap: 0;
    }

    main#infoFuncionario .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
        max-width: 300px;
    }

    main#infoFuncionario .paginas {
        display: flex;
        background-color: aqua;
        margin-top: 50%;
    }
}